{$DAVINCI_HOST} {
	encode zstd gzip
	request_body {
		max_size 60MB
	}
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options nosniff
		-Server
	}
	reverse_proxy gateway:8000 {
		transport http {
			read_timeout 180s
		}
	}
}
